{% extends 'base.html' %}

{% block content %}

<div class="row">

   {% for product in products %}
   <div class="col-xs-4">
            <div class="thumbnail text-center">
            <h3> <a href='{{ product.get_absolute_url }}'>{{ product.title }}</a><br/></h3>
            {% if product.get_image_url %}
            <a href='{{ product.get_absolute_url }}'><img id="img" class="img-responsive"
                                                          src="{{ product.get_image_url }}" /></a>
            {% endif %}
            </div>
        </div>
        {% cycle '' '' '</div> <div class="row">' %}
   {% endfor %}

</div>

{% endblock %}